.header {
    background-color: darkblue;
    font-size: 40px;
    color: white;
    font-weight: bolder;
}

.current-header{
    background-color: darkblue;
}

.card-icon{
    height: 20px;
    width: 20px;
}