.header {
    background-color: darkblue;
    font-size: 40px;
    color: white;
    font-weight: bolder;
}

.current-header{
    background-color: white;
}

.card-icon{
    height: 25px;
    width: 25px;
}

.forecast-card-header{
    font-size: large;
}

.card-background{
    background-color: rgb(77, 47, 162);
    color: white;
}

.current-weather{
    background-color: rgb(75, 42, 206);
}